[build]
  publish = "build"
  command = "npm run build"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/finance/*"
  to = "/.netlify/functions/finance/:splat"
  status = 200

[[redirects]]
  from = "/api/history/*"
  to = "/.netlify/functions/history/:splat"
  status = 200

[[redirects]]
  from = "/api/finviz/*"
  to = "/.netlify/functions/finviz"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"

[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
